* {
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* AppBar */
  .app-bar {
    padding: 8px 16px;
    background-color: transparent;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
  }
  
  .app-bar .app-bar__menu {
    display: flex;
    align-items: center;
  }
  
  .app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .app-bar .app-bar__brand {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .app-bar .app-bar__brand h1 {
    color: #2E4C6D;
    text-transform: uppercase;
    font-size: 22px;
    user-select: none;
  }
  
  .app-bar .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    background-color: white;
    overflow: hidden;
  }
  
  .app-bar .app-bar__navigation.open {
    left: 0;
  }
  
  .app-bar .app-bar__navigation ul li a { 
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 0px;
    margin-bottom: 5px;
    width: fit-content;
  }

  .app-bar .app-bar__navigation ul li a:hover {
    border-bottom: 3px dashed #2E4C6D;
  }
/* Footer */
footer {
  padding: 16px;
}

footer p {
  text-align: center;
  color: #aaaaaa;
}

footer p a {
  color: #2E4C6D;
  text-decoration: none;
}